*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
*.apk
*.keystore
local.properties
discord-bot/
moukthar/
AhMyth-Android-RAT/
Cyrus/
Krypto/
android-java-payload/
jobb.md
*.apk.idsig
